services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: taskdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: spring_app
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:postgresql://db:5432/taskdb
      DB_USER: postgres
      DB_PASS: postgres
      JWT_SECRET: mysupersecretkey

volumes:
  postgres_data:
